<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" routerLink="/home">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="setting-section">
    <div class="setting-text">
      <h2>{{ 'SETTINGS.THEME' | translate }}</h2>
      <p>{{ 'SETTINGS.CHOOSE_THEME' | translate }}</p>
    </div>
    <div class="setting-control">
      <ion-toggle class="custom-toggle" [(ngModel)]="darkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </div>
  </div>

  <div class="setting-section">
    <div class="setting-text">
      <h2>{{ 'SETTINGS.DATA_USAGE' | translate }}</h2>
      <p>{{ 'SETTINGS.DATA_USAGE_DESC' | translate }}</p>
    </div>
    <div class="setting-control">
      <ion-select interface="popover" placeholder="{{ 'SETTINGS.SELECT1' | translate }}"
        [(ngModel)]="mobileData"
        (ionChange)="changeMobileData($event.detail.value)">
        <ion-select-option value="low">{{ 'SETTINGS.LOW' | translate }}</ion-select-option>
        <ion-select-option value="medium">{{ 'SETTINGS.MEDIUM' | translate }}</ion-select-option>
        <ion-select-option value="high">{{ 'SETTINGS.HIGH' | translate }}</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="setting-section">
    <div class="setting-text">
      <h2>{{ 'SETTINGS.LANGUAGE' | translate }}</h2>
      <p>{{ 'SETTINGS.SELECT_LANGUAGE' | translate }}</p>
    </div>
    <div class="setting-control">
      <ion-select [(ngModel)]="selectedLang" (ionChange)="changeLang($event.detail.value)">
        <ion-select-option value="pt">Português</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
      </ion-select>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="custom-tab-bar">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-start">
          <ion-button fill="clear" routerLink="/dashboard" routerLinkActive="tab-selected" [routerLinkActiveOptions]="{ exact: true }">
            <ion-icon slot="icon-only" name="home"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button fill="clear" routerLink="/perfil" routerLinkActive="tab-selected">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button fill="clear" routerLink="/settings" routerLinkActive="tab-selected">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
