ion-content {
  --background: #ffffff;
}

.empty-state img {
  width: 120px;
  margin-bottom: 16px;
}
.filtro {
  background: transparent!important;
  }

ion-button[color="warning"] ion-icon[name="pencil"] {
  color: #000 !important;
}