<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'REGISTO.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="top-controls-decor">
    <div class="switch-decor">
      <ion-toggle
        [(ngModel)]="darkMode"
        (ionChange)="toggleDarkMode($event)" 
        mode="ios"
        class="custom-toggle">
      </ion-toggle>
    </div>
  </div>

  <div class="setting-control">
    <ion-select placeholder="{{ 'REGISTO.LANGUAGE' | translate }}" class="Language"
      [(ngModel)]="linguaSelecionada"
      (ionChange)="trocarIdioma($event.detail.value)">
      <ion-select-option value="pt">Português</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
    </ion-select>
  </div>
  <br><br><br><br>

  <form *ngIf="registoForm" [formGroup]="registoForm" (ngSubmit)="registar()">
    <div class="login-wrapper">
      <div class="custom-input">
        <label>{{ 'REGISTO.USERNAME' | translate }}</label>
        <ion-input formControlName="username" type="text" class="rounded-input"></ion-input>
        <div *ngIf="registoForm.get('username')?.touched && registoForm.get('username')?.invalid" class="error-message">
          {{ 'REGISTO.USERNAME_REQUIRED' | translate }}
        </div>
      </div>

      <div class="custom-input">
        <label>{{ 'REGISTO.EMAIL' | translate }}</label>
        <ion-input formControlName="email" type="email" class="rounded-input"></ion-input>
        <div *ngIf="registoForm.get('email')?.touched && registoForm.get('email')?.errors">
          <div *ngIf="registoForm.get('email')?.errors?.['required']" class="error-message">{{ 'REGISTO.EMAIL_REQUIRED' | translate }}</div>
          <div *ngIf="registoForm.get('email')?.errors?.['email']" class="error-message">{{ 'REGISTO.EMAIL_INVALID' | translate }}</div>
        </div>
      </div>

      <div class="custom-input">
        <label>{{ 'REGISTO.PASSWORD' | translate }}</label>
        <ion-input formControlName="password" type="password" class="rounded-input"></ion-input>
        <div *ngIf="registoForm.get('password')?.touched && registoForm.get('password')?.errors">
          <div *ngIf="registoForm.get('password')?.errors?.['required']" class="error-message">{{ 'REGISTO.PASSWORD_REQUIRED' | translate }}</div>
          <div *ngIf="registoForm.get('password')?.errors?.['minlength']" class="error-message">{{ 'REGISTO.PASSWORD_MINLENGTH' | translate }}</div>
        </div>
      </div>

      <div class="custom-input">
        <label>{{ 'REGISTO.CONFIRM_PASSWORD' | translate }}</label>
        <ion-input formControlName="confirmPassword" type="password" class="rounded-input"></ion-input>
        <div *ngIf="registoForm.get('confirmPassword')?.touched && registoForm.get('confirmPassword')?.invalid" class="error-message">
          {{ 'REGISTO.CONFIRM_PASSWORD_REQUIRED' | translate }}
        </div>
      </div>

      <ion-button expand="block" type="submit" class="login-button" [disabled]="registoForm.invalid">
        <span class="login-button-text">{{ 'REGISTO.REGISTER' | translate }}</span>
      </ion-button>
    </div>
  </form>

</ion-content>
