<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" text=""></ion-back-button>  
    </ion-buttons>
    <ion-title>{{ 'REGISTAR_AVALIACAO.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item class="custom-input" lines="none">
    <ion-select [(ngModel)]="categoria" placeholder="{{ 'REGISTAR_AVALIACAO.CATEGORY' | translate }}" interface="alert">
      <ion-select-option value="restaurant">{{ 'REGISTAR_AVALIACAO.RESTAURANT' | translate }}</ion-select-option>
      <ion-select-option value="hotel">{{ 'REGISTAR_AVALIACAO.HOTEL' | translate }}</ion-select-option>
    </ion-select>
    <ion-icon slot="start" name="pricetag"></ion-icon>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-input [(ngModel)]="nome" [placeholder]="'REGISTAR_AVALIACAO.NAME_PLACEHOLDER' | translate:{categoria: (categoria ? categoria.toLowerCase() : ('REGISTAR_AVALIACAO.LOCAL' | translate))}"></ion-input>
    <ion-icon slot="start" name="business"></ion-icon>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-input [(ngModel)]="comentario" placeholder="{{ 'REGISTAR_AVALIACAO.COMMENT' | translate }}"></ion-input>
    <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <div style="display: flex; align-items: center;">
      <ion-icon
        *ngFor="let star of [1,2,3,4,5]"
        [name]="star <= rating ? 'star' : 'star-outline'"
        (click)="setRating(star)"
        style="color: #FFD600; font-size: 28px; cursor: pointer; margin-right: 4px;">
      </ion-icon>
      <span style="margin-left: 12px; color: #000;">{{ rating }} / 5</span>
    </div>
    <ion-icon slot="start" name="star"></ion-icon>
  </ion-item>

  <ion-item class="custom-input" lines="none">
    <ion-button class="adicionar-foto-button"
      fill="clear"
      expand="block"
      (click)="escolherFoto()">
      <ion-icon slot="start" name="camera"></ion-icon>
      <span>{{ 'REGISTAR_AVALIACAO.ADD_PHOTO' | translate }}</span>
    </ion-button>
  </ion-item>

  <div *ngIf="foto" style="text-align:center; margin-bottom:16px;">
    <img [src]="foto" alt="{{ 'REGISTAR_AVALIACAO.PHOTO_ALT' | translate }}" style="max-width: 180px; border-radius: 12px;"/>
  </div>

  <ion-button expand="block" class="confirmar-button" (click)="confirmarAvaliacao()">
    {{ 'REGISTAR_AVALIACAO.CONFIRM' | translate }}
  </ion-button>

</ion-content>