ion-content {
  --background: #ffffff;
}

.custom-input {
  --background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  padding-inline-start: 12px;

  ion-icon {
    color: #000;
    font-size: 20px;
  }
  
 

  
}

.confirmar-button {
  margin-top: 32px;
  border-radius: 30px;
  height: 50px;
  font-size: 18px;
  --background: #d9d9d9;
  color: #000;
  font-weight: 500;
}


span {
  margin-left: 12px;
  color: #000;
}






ion-item.custom-input ion-button[fill="clear"] {
  --background: transparent;
  --box-shadow: none;
  width: 100%;
  justify-content: flex-start;
  padding-left: 0;
}