.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  padding-top: 2px;
}


.login-title {
  font-family: 'Acme', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  
  
  color: #000;
}

.custom-input {
  width: 90%;
  max-width: 400px;
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'ABeeZee', sans-serif;
    color: #000;
  }

  .rounded-input {
    --border-radius: 20px;
    --background: #B4AFAF;
    padding-left: 16px;
    font-family: 'ABeeZee', sans-serif;
    --padding-start:  12px;
  }
}

.login-button {
  width: 90%;
  max-width: 400px;
  height: 40px;
  
  --border-radius: 20px;
  margin-top: 10px;
  --color: #000000;
  --background: #000000;

}

.login-button-text {
  color: #3c00ff;
  font-weight: 600;
}

.login-links {
  margin-top: 20px;
  text-align: center;

  a {
    display: block;
    margin-bottom: 8px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    color: #280f96;
    text-decoration: none;
  }
}
.Login:hover {
  filter: brightness(0.9);
}

