ion-content {
  --background: #ffffff;
}

.empty-state img {
  width: 120px;
  margin-bottom: 16px;
}

ion-button[color="danger"] ion-icon[name="trash-outline"] {
  color: #000 !important;
}

ion-button[color="warning"] ion-icon[name="pencil"] {
  color: #000 !important;
}